@model IEnumerable<EdFiValidation.ApiProxy.Models.ApiLogModel>

<div class="jumbotron">

    <div class="row">
        <div class="col-md-7">
            <h1>Validation Proxy</h1>
            <p class="lead">Ed-Fi REST API Validation Proxy Query Tool</p>
        </div>
        <div class="col-md-5">
            <br /><br /><br />
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-inline", role = "form" }))
            {

                <div class="form-group">
                    <input type="text" id="sessionId" name="sessionId" class="form-control" placeholder="Session Id..." />
                    <button type="submit" class="btn btn-info">Search</button>
                </div>

            }
        </div>
    </div>
</div>

@if (Model.Any())
{
    <div class="row">
        <div class="col-md-4">
            <div class=" text-center well well-sm">
                <h3>Session</h3>
                @Model.First().SessionId
            </div>
        </div>
        <div class="col-md-4">
            <div class=" text-center well well-sm">
                <h3>Total Requests</h3>
                @Model.Count()
            </div>
        </div>
        <div class="col-md-4">
            <div class=" text-center well well-sm">
                <h3>Total Errors</h3>
                @Model.Where(m => !m.ApiResponse.IsSuccessStatusCode).Count()
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <a href="@Url.Action("Index", "ValidateSession")" class="btn btn-info center-block">Validate Session</a>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion">
        @foreach (var logItem in Model)
        {
            <!-- Trans Panel -->
            <div class="panel panel-primary ">

                <div class="panel-heading">
                    <div class="row">

                        <div class="col-md-2">
                            <a data-toggle="collapse" data-parent="#accordion" href="#@(logItem.Id)_trans">
                            </a> &nbsp;
                            <span class="label @(@logItem.ApiResponse.IsSuccessStatusCode ? "label-success" : "label-danger")"> @logItem.ApiRequest.HttpMethod</span>
                        </div>
                        <div class="col-md-8">
                            <strong> @logItem.ApiResponse.RequestPath()</strong>
                        </div>
                        <div class="col-md-2">
                            <span class="pull-right"><small>@logItem.LogDate</small></span>
                        </div>
                    </div>
                </div>

                <div id="@(logItem.Id)_trans" class="panel-collapse collapse">
                    <div class="panel-body">
                        <!-- Main Body -->
                        <div class="panel-group" id="@(logItem.Id)_accordion">
                            <!-- REQUEST -->
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    &nbsp;
                                    <a data-toggle="collapse" data-parent="#@(logItem.Id)_accordion" href="#@(logItem.Id)_req" class="collapsed"></a>
                                    <strong>REQUEST</strong>
                                </div>
                                <div id="@(logItem.Id)_req" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 wrap">
                                                <strong>URL</strong>
                                                <div class="well">
                                                    @logItem.ApiRequest.UriAccessed
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-8">
                                                <strong>Headers</strong>
                                                <div class="well">
                                                    <dl>
                                                        @foreach (var header in logItem.ApiRequest.Headers)
                                                        {
                                                            <dt>@header.Key:</dt>
                                                            <dd>@header.Value</dd>
                                                        }
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <strong>Body</strong>
                                                <pre class="pre-scrollable">@logItem.ApiRequest.BodyContent</pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /REQUEST -->
                            <!-- RESPONSE -->
                            <div class="panel  @(@logItem.ApiResponse.IsSuccessStatusCode ? "panel-success" : "panel-danger")">
                                <div class="panel-heading">
                                    &nbsp;
                                    <a data-toggle="collapse" data-parent="#@(logItem.Id)_accordion" href="#@(logItem.Id)_res" class="collapsed"></a>
                                    <strong>RESPONSE</strong>
                                    <span class="pull-right">
                                        <strong>@logItem.ApiResponse.ResponseStatusCode:</strong> @logItem.ApiResponse.ResponseStatusMessage
                                    </span>
                                </div>
                                <div id="@(logItem.Id)_res" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 wrap">
                                                <strong>URL</strong>
                                                <div class="well">
                                                    @logItem.ApiResponse.UriAccessed
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-8">
                                                <strong>Headers</strong>
                                                <div class="well">
                                                    <dl>
                                                        @foreach (var header in logItem.ApiResponse.Headers)
                                                        {
                                                            <dt>@header.Key:</dt>
                                                            <dd>@header.Value</dd>
                                                        }
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>Body</strong>
                                                <pre class="pre-scrollable">@logItem.ApiResponse.BodyContent</pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /RESPONSE -->
                        </div>
                        <!-- /Main Body -->
                    </div>
                </div>
            </div>
            <!-- /Trans Panel -->
        }
    </div>
}